.course-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.course-data-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 20px;
}
